In [1]:
from pathlib import Path
import pandas as pd

In [2]:
features_path = Path('./data/processed/features')

In [3]:
h18 = pd.read_csv(features_path / 'human2018_longsquares.csv', index_col=0)
h19 = pd.read_csv(features_path / 'human2019_longsquares.csv', index_col=0)
m18 = pd.read_csv(features_path / 'mouse2018_longsquares.csv', index_col=0)
m19 = pd.read_csv(features_path / 'mouse2019_longsquares.csv', index_col=0)
natcom = pd.read_csv(features_path / 'natcom_longsquares.csv', index_col=0)

In [4]:
print(h18.shape)
print(h19.shape)
print(m18.shape)
print(m19.shape)
print(natcom.shape)

(18, 26)
(47, 26)
(5, 26)
(7, 26)
(84, 26)

In [5]:
all_meta = pd.read_csv('./data/processed/meta/interim-all_meta_cleaned.csv')

In [6]:
all_meta.head()

,ABF File,Cell #,Data Type,RMP,ZD status,age,aggregated_cell_layer,diagnosis,diagnosis_Epilepsy,diagnosis_Tumor,...,external_soln,internal_soln,layer_name,resection_location,seizure_duration_years,sex,subject_id,is_epileptogenic,has_morphology,cutting_solution
0,13n05011,1,Human,-54.937742,n.a,57.0,L5,Epilepsy,True,False,...,aCSF,Potassium gluconate,L5,Right-ATL,45.0,M,X2013.11.05,False,False,NaN
1,13n21007,1,Human,-59.158322,n.a,27.0,L5,Epilepsy,True,False,...,aCSF,Potassium gluconate,L5,Right-ATL,11.0,M,X2013.11.21,False,False,NaN
2,13d02004,1,Human,-59.069821,n.a,39.0,L5,Tumor,False,True,...,aCSF,Potassium gluconate,L5,Right-ATL,11.0,F,X2013.12.02,False,False,NaN
3,13d02022,1,Human,-64.428708,n.a,39.0,L5,Tumor,False,True,...,aCSF,Potassium gluconate,L5,Right-ATL,11.0,F,X2013.12.02,False,False,NaN
4,13d02049,1,Human,-57.000000,n.a,39.0,L5,Tumor,False,True,...,aCSF,Potassium gluconate,L5,Right-ATL,11.0,F,X2013.12.02,False,False,NaN

In [7]:
all_meta.aggregated_cell_layer.value_counts()

L5     146
L23     64
L3C     25
Name: aggregated_cell_layer, dtype: int64

In [8]:
all_meta.shape

(235, 22)

In [9]:
cols_to_select = ['Data Type', 'expt_date', 'layer_name', 'RMP', 'subject_id','sex', 
                  'age', 'seizure_duration_years', 'diagnosis_Epilepsy', 'diagnosis_Tumor', 'resection_location', 'drugs', 'Cell #', 
                  'ZD status']

## find overlap of NatCom data with other human data

In [10]:
h19.head()

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,fast_trough_t,trough_t,rheo_first_isi,v_baseline,rheobase_i,fi_fit_slope,sag,vm_for_sag,input_resistance,tau
19122003.nwb,0.064074,16.672224,0.0339,0.273391,0.0193,0.064178,0.0634,100.830078,-44.342945,27.709057,...,0.2459,0.2708,0.0812,-68.923630,50.048824,0.027667,0.029006,-97.321457,246.806845,0.017229
19122026.nwb,0.147376,13.337779,0.0135,0.372434,0.0220,0.080443,0.0861,99.487305,-46.290920,30.750710,...,0.2647,0.2650,0.0171,-60.726688,50.537109,-0.027519,0.077051,-102.656883,174.053371,0.017483
19128006.nwb,0.167628,8.334722,0.0617,0.335561,0.0551,0.125575,0.1341,199.951172,-41.866920,53.729397,...,0.2932,0.3320,0.1430,-65.453194,150.634766,0.056708,0.098792,-90.740829,69.612592,0.019236
19128040.nwb,0.155573,8.338893,0.0366,0.357272,0.0172,0.062950,0.0606,150.512695,-48.840191,37.646633,...,0.2198,0.2198,0.0610,-67.906493,100.952148,-0.028572,0.010225,-101.818710,132.281557,0.019539
19128061.nwb,0.417120,6.667778,0.0518,0.646497,0.0431,0.164267,0.1343,250.366196,-45.058720,54.749027,...,0.2612,0.3186,0.1079,-65.821447,200.317383,0.050068,0.162671,-85.341927,56.034490,0.017413

In [11]:
natcom.head()

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,fast_trough_t,trough_t,rheo_first_isi,v_baseline,rheobase_i,fi_fit_slope,sag,vm_for_sag,input_resistance,tau
15o08032.nwb,0.025671,12.254771,0.045904,0.185785,0.024992,0.078591,0.085178,150.000000,-46.544189,51.179199,...,0.476385,0.517801,0.063552,-59.161621,100.000000,0.024064,0.080064,-80.827637,51.609583,0.012116
2016_03_03_0103.nwb,0.158713,11.111593,0.013561,0.468069,0.073623,0.084861,0.103924,249.999985,-37.310596,50.152786,...,0.392656,0.393016,0.015541,-65.452421,200.000000,0.037880,0.097288,-84.393112,43.874104,0.017017
2016_02_29_0065.nwb,-0.002228,29.167931,0.040622,0.090739,0.023041,0.032983,0.033031,100.000000,-39.903942,38.625420,...,0.300432,0.301692,0.072363,-63.777348,50.000000,0.175765,0.167399,-98.093346,213.170767,0.028196
19320017.nwb,0.232653,6.667778,0.061800,0.372042,0.063800,0.107767,0.102000,150.024414,-33.044117,41.464554,...,0.566500,0.647600,NaN,-73.134571,99.487305,0.059596,0.025747,-98.031296,94.525866,0.012607
19320001.nwb,0.307538,8.337502,0.018900,0.531679,0.052800,0.100975,0.115450,148.803711,-39.222244,53.749565,...,0.298800,0.299000,0.030500,-64.493661,99.975586,0.066464,0.109240,-101.981644,84.223703,0.015239

In [12]:
# there are overlapping files from human19 dataset and the natcoms data
# drop them from h19
h19 = h19[~h19.index.isin(natcom.index)]

In [13]:
h19.shape

(27, 26)

## Concatenate the full human tables

In [14]:
natcom.shape

(84, 26)

In [15]:
ephys_feats = pd.concat([h18 , h19, natcom, m18, m19])

In [16]:
ephys_feats.index = ephys_feats.index.str.rstrip('.nwb')

In [17]:
ephys_feats.shape

(141, 26)

In [18]:
results_df = ephys_feats.merge(all_meta, left_index=True, right_on='ABF File').set_index('ABF File')
results_df.index.name = 'file_id'

In [19]:
results_df.shape

(141, 47)

In [20]:
results_df

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,external_soln,internal_soln,layer_name,resection_location,seizure_duration_years,sex,subject_id,is_epileptogenic,has_morphology,cutting_solution
file_id,,,,,,,,,,,,,,,,,,,,,
18329051,0.081030,9.005403,0.06420,0.333812,0.02840,0.117163,0.10835,160.522461,-48.808891,43.659378,...,Synaptic Blockers,Potassium gluconate,L23,Left-ATL,12.0,F,1813,False,False,NMDG
18329044,0.117396,3.003604,0.19660,0.117396,0.03340,0.222750,0.22275,79.956055,-64.471191,11.212403,...,Synaptic Blockers,Potassium gluconate,L23-Int,Left-ATL,12.0,F,1813,False,False,NMDG
18o22020,0.182035,9.001800,0.01010,0.661551,0.02750,0.120750,0.15595,119.750969,-42.872929,36.762695,...,Synaptic Blockers,Potassium gluconate,L23,Right-ATL,10.0,F,1822,False,False,Sucrose
18129004,0.050688,17.068273,0.01900,0.375272,0.01520,0.058944,0.05905,101.318359,-51.379692,29.797071,...,Synaptic Blockers,Potassium gluconate,L5,Right-ATL,4.0,M,1801,False,False,NMDG
18426010,0.051574,11.013216,0.04550,0.228869,0.04970,0.091170,0.09915,80.322266,-33.305374,49.092091,...,Synaptic Blockers,Potassium gluconate,L23,Left-ATL,28.0,M,1815,False,False,NMDG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19o23010,0.023962,16.668056,0.04875,0.097611,0.02325,0.062678,0.06335,250.000000,-37.170410,17.089844,...,Synaptic Blockers,Potassium gluconate,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose
19o23039,0.029927,16.668056,0.04125,0.128442,0.04085,0.060044,0.06255,150.000000,-48.217773,32.928467,...,Synaptic Blockers,Potassium gluconate,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose
19o22018,0.021133,28.335695,0.02095,0.139971,0.02690,0.035416,0.03635,150.000000,-36.224365,32.867432,...,Synaptic Blockers,Potassium gluconate,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose
19o22001,0.012891,20.001667,0.04230,0.078772,0.02685,0.049823,0.05085,150.000000,-43.823242,30.975340,...,Synaptic Blockers,Potassium gluconate,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose
19o23046,0.056699,13.334445,0.04505,0.185591,0.04610,0.078821,0.08570,200.000000,-42.785645,23.315430,...,Synaptic Blockers,Potassium gluconate,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose

In [21]:
results_df.columns

Index(['adapt', 'avg_rate', 'first_isi', 'isi_cv', 'latency', 'mean_isi',
       'median_isi', 'stim_amp', 'threshold_v', 'peak_v', 'trough_v',
       'fast_trough_v', 'adp_v', 'width', 'upstroke_downstroke_ratio',
       'peak_t', 'fast_trough_t', 'trough_t', 'rheo_first_isi', 'v_baseline',
       'rheobase_i', 'fi_fit_slope', 'sag', 'vm_for_sag', 'input_resistance',
       'tau', 'Cell #', 'Data Type', 'RMP', 'ZD status', 'age',
       'aggregated_cell_layer', 'diagnosis', 'diagnosis_Epilepsy',
       'diagnosis_Tumor', 'drugs', 'expt_date', 'external_soln',
       'internal_soln', 'layer_name', 'resection_location',
       'seizure_duration_years', 'sex', 'subject_id', 'is_epileptogenic',
       'has_morphology', 'cutting_solution'],
      dtype='object')

## Drop the files that failed QC

In [22]:
qc_fail_ids = pd.read_csv('./data/processed/qc_fails.csv', names=['file_id'])

In [23]:
results_df = results_df[~results_df.index.isin(qc_fail_ids.file_id.astype('str'))]

In [24]:
results_df['AHP'] = results_df.threshold_v - results_df.fast_trough_v

<ipython-input-24-6dee908e15ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_df['AHP'] = results_df.threshold_v - results_df.fast_trough_v

In [25]:
results_df.shape

(132, 48)

## add column for putative interneurons

In [26]:
putative_int_ids = ['2019_11_04_0083', '2019_11_28_0119', '18320021', '18118024', '18329044']
putative_interneurons = results_df.loc[putative_int_ids]

In [27]:
results_df['putative_interneuron'] = results_df.index.isin(putative_int_ids)

<ipython-input-27-2f53e25cc864>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_df['putative_interneuron'] = results_df.index.isin(putative_int_ids)

In [28]:
putative_interneurons.to_csv('./data/processed/features/putative_interneurons.csv')

In [29]:
results_df.to_csv('./data/processed/features/all_features_wide.csv')

In [30]:
results_df

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,layer_name,resection_location,seizure_duration_years,sex,subject_id,is_epileptogenic,has_morphology,cutting_solution,AHP,putative_interneuron
file_id,,,,,,,,,,,,,,,,,,,,,
18329051,0.081030,9.005403,0.06420,0.333812,0.02840,0.117163,0.10835,160.522461,-48.808891,43.659378,...,L23,Left-ATL,12.0,F,1813,False,False,NMDG,6.408691,False
18329044,0.117396,3.003604,0.19660,0.117396,0.03340,0.222750,0.22275,79.956055,-64.471191,11.212403,...,L23-Int,Left-ATL,12.0,F,1813,False,False,NMDG,2.746582,True
18o22020,0.182035,9.001800,0.01010,0.661551,0.02750,0.120750,0.15595,119.750969,-42.872929,36.762695,...,L23,Right-ATL,10.0,F,1822,False,False,Sucrose,1.022339,False
18320005,0.098417,8.009612,0.05090,0.309465,0.08080,0.126871,0.13290,99.853516,-45.634769,24.555664,...,L23,Right-ATL,7.0,M,1808,False,False,NMDG,5.798340,False
18426017,0.040884,12.002400,0.04910,0.233650,0.03420,0.081236,0.07810,199.584961,-38.303715,58.437016,...,L23,Left-ATL,28.0,M,1815,False,False,NMDG,7.934570,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19o23010,0.023962,16.668056,0.04875,0.097611,0.02325,0.062678,0.06335,250.000000,-37.170410,17.089844,...,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose,13.458252,False
19o23039,0.029927,16.668056,0.04125,0.128442,0.04085,0.060044,0.06255,150.000000,-48.217773,32.928467,...,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose,1.190186,False
19o22018,0.021133,28.335695,0.02095,0.139971,0.02690,0.035416,0.03635,150.000000,-36.224365,32.867432,...,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose,5.828857,False
19o22001,0.012891,20.001667,0.04230,0.078772,0.02685,0.049823,0.05085,150.000000,-43.823242,30.975340,...,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose,5.981445,False
19o23046,0.056699,13.334445,0.04505,0.185591,0.04610,0.078821,0.08570,200.000000,-42.785645,23.315430,...,NaN,NaN,NaN,NaN,NaN,False,False,Sucrose,6.713867,False

### add column for dandi-id

In [31]:
mouseresults = results_df[results_df['Data Type'] == 'Mouse'].reset_index()
humanresults = results_df[results_df['Data Type'] == 'Human'].reset_index()

In [32]:
mouseresults['dandi_id'] = mouseresults.apply(lambda x: f'sub-{x.file_id}_icephys.nwb', axis=1)
humanresults['dandi_id'] = humanresults.apply(lambda x: f'sub-{x.subject_id}-{x.file_id}_icephys.nwb', axis=1)

In [33]:
results_df = pd.concat([humanresults, mouseresults]).set_index('file_id')

In [34]:
#'file_name', 'path', 'file_id', 'ABF File','Cell #', 'ZD status','diagnosis_Epilepsy', 'diagnosis_Tumor',
results_df.loc[:, ['dandi_id', 'Data Type', 'expt_date', 'layer_name', 'RMP', 'subject_id', 'sex', 'age', 
                   'seizure_duration_years', 'diagnosis', 'resection_location', 'drugs', 'internal_soln', 
                   'external_soln', 'aggregated_cell_layer', 'is_epileptogenic', 'putative_interneuron', 
                   'cutting_solution', 'has_morphology']].sort_values(['Data Type', 'dandi_id', 'subject_id', 'aggregated_cell_layer', 'external_soln', 'cutting_solution']).to_csv('./data/processed/meta/final-metadata.csv')

In [35]:
results_df.columns

Index(['adapt', 'avg_rate', 'first_isi', 'isi_cv', 'latency', 'mean_isi',
       'median_isi', 'stim_amp', 'threshold_v', 'peak_v', 'trough_v',
       'fast_trough_v', 'adp_v', 'width', 'upstroke_downstroke_ratio',
       'peak_t', 'fast_trough_t', 'trough_t', 'rheo_first_isi', 'v_baseline',
       'rheobase_i', 'fi_fit_slope', 'sag', 'vm_for_sag', 'input_resistance',
       'tau', 'Cell #', 'Data Type', 'RMP', 'ZD status', 'age',
       'aggregated_cell_layer', 'diagnosis', 'diagnosis_Epilepsy',
       'diagnosis_Tumor', 'drugs', 'expt_date', 'external_soln',
       'internal_soln', 'layer_name', 'resection_location',
       'seizure_duration_years', 'sex', 'subject_id', 'is_epileptogenic',
       'has_morphology', 'cutting_solution', 'AHP', 'putative_interneuron',
       'dandi_id'],
      dtype='object')

In [36]:
epileptogenic_cell_ids = ['20140127_600_1_0118', '20140127_600_1_0158', '15622000',
                     '15622005', '15622013', '15622015', '15622019', '15723013']

results_df[results_df.index.isin(epileptogenic_cell_ids)]

Empty DataFrame
Columns: [adapt, avg_rate, first_isi, isi_cv, latency, mean_isi, median_isi, stim_amp, threshold_v, peak_v, trough_v, fast_trough_v, adp_v, width, upstroke_downstroke_ratio, peak_t, fast_trough_t, trough_t, rheo_first_isi, v_baseline, rheobase_i, fi_fit_slope, sag, vm_for_sag, input_resistance, tau, Cell #, Data Type, RMP, ZD status, age, aggregated_cell_layer, diagnosis, diagnosis_Epilepsy, diagnosis_Tumor, drugs, expt_date, external_soln, internal_soln, layer_name, resection_location, seizure_duration_years, sex, subject_id, is_epileptogenic, has_morphology, cutting_solution, AHP, putative_interneuron, dandi_id]
Index: []

[0 rows x 50 columns]

In [37]:
#sex, age, treatment, tumor vs epilepsy, layer, class of cell?, morphology?
#include external solutions
tidydf = results_df.reset_index().melt(id_vars=['file_id', 'Data Type', 'subject_id', 'layer_name', 'aggregated_cell_layer', 'sex', 'age', 
                                             'internal_soln', 'external_soln', 'seizure_duration_years', 'diagnosis',
                                             'diagnosis_Epilepsy', 'diagnosis_Tumor', 'resection_location', 
                                             'cutting_solution', 'is_epileptogenic', 'putative_interneuron'], 
                                    value_vars=['RMP', 'adapt', 'avg_rate', 'first_isi', 'isi_cv', 'latency', 'mean_isi', 
                                                'median_isi','stim_amp', 'threshold_v', 'peak_v', 'trough_v', 
                                                'fast_trough_v', 'adp_v', 'width', 'upstroke_downstroke_ratio', 
                                                'peak_t', 'fast_trough_t', 'trough_t', 'rheo_first_isi', 'v_baseline',
                                                'rheobase_i', 'fi_fit_slope', 'sag', 'vm_for_sag', 'input_resistance',
                                                'tau', 'AHP'], 
                                    var_name='feature')

In [38]:
tidydf.head()

,file_id,Data Type,subject_id,layer_name,aggregated_cell_layer,sex,age,internal_soln,external_soln,seizure_duration_years,diagnosis,diagnosis_Epilepsy,diagnosis_Tumor,resection_location,cutting_solution,is_epileptogenic,putative_interneuron,feature,value
0,18329051,Human,1813,L23,L23,F,22.0,Potassium gluconate,Synaptic Blockers,12.0,Epilepsy,True,False,Left-ATL,NMDG,False,False,RMP,-69.7
1,18329044,Human,1813,L23-Int,L23,F,22.0,Potassium gluconate,Synaptic Blockers,12.0,Epilepsy,True,False,Left-ATL,NMDG,False,True,RMP,-69.7
2,18o22020,Human,1822,L23,L23,F,40.0,Potassium gluconate,Synaptic Blockers,10.0,Tumor,False,True,Right-ATL,Sucrose,False,False,RMP,-68.4
3,18320005,Human,1808,L23,L23,M,23.0,Potassium gluconate,Synaptic Blockers,7.0,Tumor,False,True,Right-ATL,NMDG,False,False,RMP,-70.5
4,18426017,Human,1815,L23,L23,M,29.0,Potassium gluconate,Synaptic Blockers,28.0,Epilepsy,True,False,Left-ATL,NMDG,False,False,RMP,-64.5

In [39]:
tidydf.to_csv('./data/processed/features/tidyfeatures.csv', index=None)

# Summaries of dataset for table 1

In [40]:
human_summary = results_df[results_df['Data Type'] == 'Human']
mouse_summary = results_df[results_df['Data Type'] == 'Mouse']

In [41]:
human_summary

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,resection_location,seizure_duration_years,sex,subject_id,is_epileptogenic,has_morphology,cutting_solution,AHP,putative_interneuron,dandi_id
file_id,,,,,,,,,,,,,,,,,,,,,
18329051,0.081030,9.005403,0.064200,0.333812,0.028400,0.117163,0.108350,160.522461,-48.808891,43.659378,...,Left-ATL,12.0,F,1813,False,False,NMDG,6.408691,False,sub-1813-18329051_icephys.nwb
18329044,0.117396,3.003604,0.196600,0.117396,0.033400,0.222750,0.222750,79.956055,-64.471191,11.212403,...,Left-ATL,12.0,F,1813,False,False,NMDG,2.746582,True,sub-1813-18329044_icephys.nwb
18o22020,0.182035,9.001800,0.010100,0.661551,0.027500,0.120750,0.155950,119.750969,-42.872929,36.762695,...,Right-ATL,10.0,F,1822,False,False,Sucrose,1.022339,False,sub-1822-18o22020_icephys.nwb
18320005,0.098417,8.009612,0.050900,0.309465,0.080800,0.126871,0.132900,99.853516,-45.634769,24.555664,...,Right-ATL,7.0,M,1808,False,False,NMDG,5.798340,False,sub-1808-18320005_icephys.nwb
18426017,0.040884,12.002400,0.049100,0.233650,0.034200,0.081236,0.078100,199.584961,-38.303715,58.437016,...,Left-ATL,28.0,M,1815,False,False,NMDG,7.934570,False,sub-1815-18426017_icephys.nwb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19320030,0.913066,5.000833,0.017000,0.913066,0.057100,0.195550,0.195550,149.780273,-41.580547,51.604881,...,Right-ATL,9.0,F,X2019.03.20,False,False,Sucrose,3.494263,False,sub-X2019.03.20-19320030_icephys.nwb
19320024,NaN,3.333889,0.077100,0.000000,0.051200,0.077100,0.077100,199.951172,-39.413799,49.880638,...,Right-ATL,9.0,F,X2019.03.20,False,False,Sucrose,6.561279,False,sub-X2019.03.20-19320024_icephys.nwb
2016_03_01_0000,0.145762,8.333694,0.043022,0.374860,0.036241,0.101152,0.110884,350.000000,-44.517334,58.473389,...,Left-ATL,13.0,M,X2016.03.01,False,False,Sucrose,-0.555416,False,sub-X2016.03.01-2016_03_01_0000_icephys.nwb
15o08002,0.082053,6.535878,0.058145,0.299605,0.048149,0.161088,0.164847,150.000000,-45.566212,46.224560,...,Parietal lobe,2.0,M,X2015.10.08,False,False,Sucrose,-3.668209,False,sub-X2015.10.08-15o08002_icephys.nwb
15o08017,0.810757,2.450954,0.043966,0.810757,0.025910,0.232327,0.232327,350.000000,-40.600586,56.939697,...,Parietal lobe,2.0,M,X2015.10.08,False,False,Sucrose,-6.774902,False,sub-X2015.10.08-15o08017_icephys.nwb

In [42]:
human_summary.iloc[0]

adapt                                            0.0810304
avg_rate                                            9.0054
first_isi                                           0.0642
isi_cv                                            0.333812
latency                                             0.0284
mean_isi                                          0.117163
median_isi                                         0.10835
stim_amp                                           160.522
threshold_v                                       -48.8089
peak_v                                             43.6594
trough_v                                           -57.659
fast_trough_v                                     -55.2176
adp_v                                             -55.5228
width                                               0.0025
upstroke_downstroke_ratio                           3.6312
peak_t                                               0.089
fast_trough_t                                       0.0949
trough_t                                            0.0968
rheo_first_isi                                      0.1404
v_baseline                                        -70.2856
rheobase_i                                         119.995
fi_fit_slope                                     0.0250985
sag                                              0.0610948
vm_for_sag                                        -101.604
input_resistance                                   151.976
tau                                              0.0397488
Cell #                                                 C10
Data Type                                            Human
RMP                                                  -69.7
ZD status                                              n.a
age                                                     22
aggregated_cell_layer                                  L23
diagnosis                                         Epilepsy
diagnosis_Epilepsy                                    True
diagnosis_Tumor                                      False
drugs                                             CBZ, CLB
expt_date                                    March_29_2018
external_soln                            Synaptic Blockers
internal_soln                          Potassium gluconate
layer_name                                             L23
resection_location                                Left-ATL
seizure_duration_years                                  12
sex                                                      F
subject_id                                            1813
is_epileptogenic                                     False
has_morphology                                       False
cutting_solution                                      NMDG
AHP                                                6.40869
putative_interneuron                                 False
dandi_id                     sub-1813-18329051_icephys.nwb
Name: 18329051, dtype: object

In [43]:
human_summary.external_soln.value_counts()

aCSF                 82
Synaptic Blockers    39
Name: external_soln, dtype: int64

In [44]:
mouse_summary.shape

(11, 50)

In [45]:
human_summary_blockers = human_summary[human_summary.external_soln == 'Synaptic Blockers']
human_summary_acsf = human_summary[human_summary.external_soln == 'aCSF']

In [46]:
human_summary_acsf.layer_name.value_counts()

L5      41
L2.3    25
L3c     14
L2       1
L3       1
Name: layer_name, dtype: int64

In [47]:
human_summary_acsf.aggregated_cell_layer.value_counts()

L5     41
L23    27
L3C    14
Name: aggregated_cell_layer, dtype: int64

In [48]:
human_summary_acsf.loc[:, ['subject_id', 'Cell #']].groupby('subject_id').nunique().sum()#.shape#

subject_id    19
Cell #        20
dtype: int64

In [49]:
human_summary_acsf.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #']].groupby('aggregated_cell_layer').count()

                       subject_id  Cell #
aggregated_cell_layer
L23                            27      27
L3C                            14      14
L5                             41      41

In [50]:
human_summary_acsf.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #', 'putative_interneuron']].groupby(['aggregated_cell_layer', 'putative_interneuron']).count()

                                            subject_id  Cell #
aggregated_cell_layer putative_interneuron
L23                   False                         27      27
L3C                   False                         14      14
L5                    False                         40      40
                      True                           1       1

In [51]:
human_summary_blockers.loc[:, ['subject_id', 'Cell #']].groupby('subject_id').nunique().sum()

subject_id    17
Cell #        39
dtype: int64

In [52]:
human_summary_blockers.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #']].groupby('aggregated_cell_layer').count()

                       subject_id  Cell #
aggregated_cell_layer
L23                            15      15
L3C                             5       5
L5                             19      19

In [53]:
human_summary_blockers.aggregated_cell_layer.value_counts()

L5     19
L23    15
L3C     5
Name: aggregated_cell_layer, dtype: int64

In [54]:
human_summary_blockers.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #', 'putative_interneuron']].groupby(['aggregated_cell_layer', 'putative_interneuron']).count()

                                            subject_id  Cell #
aggregated_cell_layer putative_interneuron
L23                   False                         13      13
                      True                           2       2
L3C                   False                          4       4
                      True                           1       1
L5                    False                         19      19

In [55]:
mouse_summary

,adapt,avg_rate,first_isi,isi_cv,latency,mean_isi,median_isi,stim_amp,threshold_v,peak_v,...,resection_location,seizure_duration_years,sex,subject_id,is_epileptogenic,has_morphology,cutting_solution,AHP,putative_interneuron,dandi_id
file_id,,,,,,,,,,,,,,,,,,,,,
18118024,0.009277,21.001050,0.01855,0.108196,0.00780,0.024880,0.024675,150.390625,-33.550194,113.086777,...,NaN,NaN,NaN,NaN,False,False,NMDG,44.433594,True,sub-18118024_icephys.nwb
18208024,0.187108,4.007614,0.07430,0.292805,0.04050,0.118033,0.121000,100.830078,2.448048,162.970520,...,NaN,NaN,NaN,NaN,False,False,NMDG,-9.155274,False,sub-18208024_icephys.nwb
2018_02_08_0001,0.036768,10.004002,0.05300,0.175405,0.02060,0.099189,0.103300,99.853516,-34.997070,145.667007,...,NaN,NaN,NaN,NaN,False,False,NMDG,-7.324217,False,sub-2018_02_08_0001_icephys.nwb
18130014,0.073511,8.012018,0.08090,0.309600,0.04560,0.134157,0.132000,90.332031,-34.238476,133.608200,...,NaN,NaN,NaN,NaN,False,False,NMDG,-1.831055,False,sub-18130014_icephys.nwb
19o23003,-0.005551,16.668056,0.05940,0.039541,0.03285,0.058878,0.059900,100.000000,-46.539307,15.289307,...,NaN,NaN,NaN,NaN,False,False,Sucrose,10.803223,False,sub-19o23003_icephys.nwb
19o23001,0.015317,18.334861,0.04265,0.089746,0.03295,0.053325,0.055200,100.000000,-44.036865,28.839111,...,NaN,NaN,NaN,NaN,False,False,Sucrose,8.148193,False,sub-19o23001_icephys.nwb
19o23010,0.023962,16.668056,0.04875,0.097611,0.02325,0.062678,0.063350,250.000000,-37.170410,17.089844,...,NaN,NaN,NaN,NaN,False,False,Sucrose,13.458252,False,sub-19o23010_icephys.nwb
19o23039,0.029927,16.668056,0.04125,0.128442,0.04085,0.060044,0.062550,150.000000,-48.217773,32.928467,...,NaN,NaN,NaN,NaN,False,False,Sucrose,1.190186,False,sub-19o23039_icephys.nwb
19o22018,0.021133,28.335695,0.02095,0.139971,0.02690,0.035416,0.036350,150.000000,-36.224365,32.867432,...,NaN,NaN,NaN,NaN,False,False,Sucrose,5.828857,False,sub-19o22018_icephys.nwb
19o22001,0.012891,20.001667,0.04230,0.078772,0.02685,0.049823,0.050850,150.000000,-43.823242,30.975340,...,NaN,NaN,NaN,NaN,False,False,Sucrose,5.981445,False,sub-19o22001_icephys.nwb
19o23046,0.056699,13.334445,0.04505,0.185591,0.04610,0.078821,0.085700,200.000000,-42.785645,23.315430,...,NaN,NaN,NaN,NaN,False,False,Sucrose,6.713867,False,sub-19o23046_icephys.nwb

In [56]:
mouse_summary.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #']].groupby('aggregated_cell_layer').count()

                       subject_id  Cell #
aggregated_cell_layer
L5                              0      11

In [57]:
mouse_summary.loc[:, ['subject_id', 'aggregated_cell_layer', 'Cell #', 'putative_interneuron']].groupby(['aggregated_cell_layer', 'putative_interneuron']).count()

                                            subject_id  Cell #
aggregated_cell_layer putative_interneuron
L5                    False                          0      10
                      True                           0       1

In [58]:
human_summary.groupby(['resection_location', 'sex']).putative_interneuron.count()

resection_location  sex
Left-ATL            F      27
                    M      32
Parietal lobe       M       8
Right-ATL           F      34
                    M      12
Right-FL            F       8
Name: putative_interneuron, dtype: int64

In [59]:
resection_map = {'Left-ATL' : 'ATL', 'Right-ATL': 'ATL', 'Parietal lobe': 'Parietal', 'Right-FL':'FL'}
human_summary['resection_location'] = human_summary.resection_location.map(resection_map)

<ipython-input-59-f93136402ff6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  human_summary['resection_location'] = human_summary.resection_location.map(resection_map)

In [60]:
human_summary.groupby(['resection_location', 'sex', 'aggregated_cell_layer']).putative_interneuron.count()

resection_location  sex  aggregated_cell_layer
ATL                 F    L23                      28
                         L3C                      12
                         L5                       21
                    M    L23                      14
                         L3C                       7
                         L5                       23
FL                  F    L5                        8
Parietal            M    L5                        8
Name: putative_interneuron, dtype: int64

In [61]:
human_summary.groupby(['resection_location', 'sex', 'aggregated_cell_layer', 'external_soln']).putative_interneuron.count()

resection_location  sex  aggregated_cell_layer  external_soln
ATL                 F    L23                    Synaptic Blockers    10
                                                aCSF                 18
                         L3C                    Synaptic Blockers     2
                                                aCSF                 10
                         L5                     Synaptic Blockers    10
                                                aCSF                 11
                    M    L23                    Synaptic Blockers     5
                                                aCSF                  9
                         L3C                    Synaptic Blockers     3
                                                aCSF                  4
                         L5                     Synaptic Blockers     9
                                                aCSF                 14
FL                  F    L5                     aCSF                  8
Parietal            M    L5                     aCSF                  8
Name: putative_interneuron, dtype: int64

In [62]:
human_summary.groupby(['resection_location', 'sex', 'aggregated_cell_layer', 'external_soln', 'putative_interneuron']).putative_interneuron.count()

resection_location  sex  aggregated_cell_layer  external_soln      putative_interneuron
ATL                 F    L23                    Synaptic Blockers  False                    9
                                                                   True                     1
                                                aCSF               False                   18
                         L3C                    Synaptic Blockers  False                    1
                                                                   True                     1
                                                aCSF               False                   10
                         L5                     Synaptic Blockers  False                   10
                                                aCSF               False                   11
                    M    L23                    Synaptic Blockers  False                    4
                                                                   True                     1
                                                aCSF               False                    9
                         L3C                    Synaptic Blockers  False                    3
                                                aCSF               False                    4
                         L5                     Synaptic Blockers  False                    9
                                                aCSF               False                   13
                                                                   True                     1
FL                  F    L5                     aCSF               False                    8
Parietal            M    L5                     aCSF               False                    8
Name: putative_interneuron, dtype: int64

In [63]:
human_summary.groupby(['resection_location', 'sex', 'aggregated_cell_layer', 'external_soln', 'has_morphology']).putative_interneuron.count()

resection_location  sex  aggregated_cell_layer  external_soln      has_morphology
ATL                 F    L23                    Synaptic Blockers  False              9
                                                                   True               1
                                                aCSF               False             17
                                                                   True               1
                         L3C                    Synaptic Blockers  False              2
                                                aCSF               False              8
                                                                   True               2
                         L5                     Synaptic Blockers  False             10
                                                aCSF               False             10
                                                                   True               1
                    M    L23                    Synaptic Blockers  False              5
                                                aCSF               False              8
                                                                   True               1
                         L3C                    Synaptic Blockers  False              2
                                                                   True               1
                                                aCSF               False              4
                         L5                     Synaptic Blockers  False              9
                                                aCSF               False             13
                                                                   True               1
FL                  F    L5                     aCSF               False              8
Parietal            M    L5                     aCSF               False              8
Name: putative_interneuron, dtype: int64

In [64]:
human_summary.groupby(['resection_location', 'subject_id']).count()

                                adapt  avg_rate  first_isi  isi_cv  latency  \
resection_location subject_id
ATL                1801             1         1          1       1        1
                   1802             2         2          2       2        2
                   1803             2         2          2       2        2
                   1808             2         2          2       2        2
                   1809             1         1          1       1        1
                   1813             3         4          3       3        4
                   1815             1         1          1       1        1
                   1822             3         3          3       3        3
                   1902             2         2          2       2        2
                   1903             2         2          2       2        2
                   1906             3         3          3       3        3
                   1907             1         1          1       1        1
                   1908             1         1          1       1        1
                   1909             5         5          5       5        5
                   1911             4         4          4       4        4
                   1912             2         2          2       2        2
                   1913             3         3          3       3        3
                   1914             2         2          2       2        2
                   X2015.11.09      6         6          6       6        6
                   X2016.01.28      3         3          3       3        3
                   X2016.02.25      6         6          6       6        6
                   X2016.02.29      2         2          2       2        2
                   X2016.03.01      2         2          2       2        2
                   X2016.03.03      4         4          4       4        4
                   X2019.01.22      4         4          4       4        4
                   X2019.01.28      3         3          3       3        3
                   X2019.01.29      8         9          9       9        9
                   X2019.03.20      4         6          6       6        6
                   X2019.11.26      2         2          2       2        2
                   X2019.11.28      2         3          3       3        3
                   X2020.01.06      4         6          4       4        6
                   X2020.01.27      4         4          4       4        4
                   X2020.01.28      3         3          3       3        3
                   X2020.03.02      1         1          1       1        1
FL                 X2016.02.04      8         8          8       8        8
Parietal           X2015.10.08      8         8          8       8        8

                                mean_isi  median_isi  stim_amp  threshold_v  \
resection_location subject_id
ATL                1801                1           1         1            1
                   1802                2           2         2            2
                   1803                2           2         2            2
                   1808                2           2         2            2
                   1809                1           1         1            1
                   1813                3           3         4            4
                   1815                1           1         1            1
                   1822                3           3         3            3
                   1902                2           2         2            2
                   1903                2           2         2            2
                   1906                3           3         3            3
                   1907                1           1         1            1
                   1908                1           1         1            1
                   1909                5           5         5            5
                   1911                4           4         4            4
                   1912                2           2         2            2
                   1913                3           3         3            3
                   1914                2           2         2            2
                   X2015.11.09         6           6         6            6
                   X2016.01.28         3           3         3            3
                   X2016.02.25         6           6         6            6
                   X2016.02.29         2           2         2            2
                   X2016.03.01         2           2         2            2
                   X2016.03.03         4           4         4            4
                   X2019.01.22         4           4         4            4
                   X2019.01.28         3           3         3            3
                   X2019.01.29         9           9         9            9
                   X2019.03.20         6           6         6            6
                   X2019.11.26         2           2         2            2
                   X2019.11.28         3           3         3            3
                   X2020.01.06         4           4         6            6
                   X2020.01.27         4           4         4            4
                   X2020.01.28         3           3         3            3
                   X2020.03.02         1           1         1            1
FL                 X2016.02.04         8           8         8            8
Parietal           X2015.10.08         8           8         8            8

                                peak_v  ...  internal_soln  layer_name  \
resection_location subject_id           ...
ATL                1801              1  ...              1           1
                   1802              2  ...              2           2
                   1803              2  ...              2           2
                   1808              2  ...              2           2
                   1809              1  ...              1           1
                   1813              4  ...              4           4
                   1815              1  ...              1           1
                   1822              3  ...              3           3
                   1902              2  ...              2           2
                   1903              2  ...              2           2
                   1906              3  ...              3           3
                   1907              1  ...              1           1
                   1908              1  ...              1           1
                   1909              5  ...              5           5
                   1911              4  ...              4           4
                   1912              2  ...              2           2
                   1913              3  ...              3           3
                   1914              2  ...              2           2
                   X2015.11.09       6  ...              6           6
                   X2016.01.28       3  ...              3           3
                   X2016.02.25       6  ...              6           6
                   X2016.02.29       2  ...              2           2
                   X2016.03.01       2  ...              2           2
                   X2016.03.03       4  ...              4           4
                   X2019.01.22       4  ...              4           4
                   X2019.01.28       3  ...              3           3
                   X2019.01.29       9  ...              9           9
                   X2019.03.20       6  ...              6           6
                   X2019.11.26       2  ...              2           2
                   X2019.11.28       3  ...              3           3
                   X2020.01.06       6  ...              6           6
                   X2020.01.27       4  ...              4           4
                   X2020.01.28       3  ...              3           3
                   X2020.03.02       1  ...              1           1
FL                 X2016.02.04       8  ...              8           8
Parietal           X2015.10.08       8  ...              8           8

                                seizure_duration_years  sex  is_epileptogenic  \
resection_location subject_id
ATL                1801                              1    1                 1
                   1802                              2    2                 2
                   1803                              2    2                 2
                   1808                              2    2                 2
                   1809                              1    1                 1
                   1813                              4    4                 4
                   1815                              1    1                 1
                   1822                              3    3                 3
                   1902                              2    2                 2
                   1903                              2    2                 2
                   1906                              3    3                 3
                   1907                              1    1                 1
                   1908                              1    1                 1
                   1909                              5    5                 5
                   1911                              4    4                 4
                   1912                              2    2                 2
                   1913                              3    3                 3
                   1914                              2    2                 2
                   X2015.11.09                       6    6                 6
                   X2016.01.28                       3    3                 3
                   X2016.02.25                       6    6                 6
                   X2016.02.29                       2    2                 2
                   X2016.03.01                       2    2                 2
                   X2016.03.03                       4    4                 4
                   X2019.01.22                       4    4                 4
                   X2019.01.28                       3    3                 3
                   X2019.01.29                       9    9                 9
                   X2019.03.20                       6    6                 6
                   X2019.11.26                       2    2                 2
                   X2019.11.28                       3    3                 3
                   X2020.01.06                       6    6                 6
                   X2020.01.27                       4    4                 4
                   X2020.01.28                       3    3                 3
                   X2020.03.02                       1    1                 1
FL                 X2016.02.04                       8    8                 8
Parietal           X2015.10.08                       8    8                 8

                                has_morphology  cutting_solution  AHP  \
resection_location subject_id
ATL                1801                      1                 1    1
                   1802                      2                 2    2
                   1803                      2                 2    2
                   1808                      2                 2    2
                   1809                      1                 1    1
                   1813                      4                 4    4
                   1815                      1                 1    1
                   1822                      3                 3    3
                   1902                      2                 2    2
                   1903                      2                 2    2
                   1906                      3                 3    3
                   1907                      1                 1    1
                   1908                      1                 1    1
                   1909                      5                 5    5
                   1911                      4                 4    4
                   1912                      2                 2    2
                   1913                      3                 3    3
                   1914                      2                 2    2
                   X2015.11.09               6                 6    6
                   X2016.01.28               3                 3    3
                   X2016.02.25               6                 6    6
                   X2016.02.29               2                 2    2
                   X2016.03.01               2                 2    2
                   X2016.03.03               4                 4    4
                   X2019.01.22               4                 4    4
                   X2019.01.28               3                 3    3
                   X2019.01.29               9                 9    9
                   X2019.03.20               6                 6    6
                   X2019.11.26               2                 2    2
                   X2019.11.28               3                 3    3
                   X2020.01.06               6                 6    6
                   X2020.01.27               4                 4    4
                   X2020.01.28               3                 3    3
                   X2020.03.02               1                 1    1
FL                 X2016.02.04               8                 8    8
Parietal           X2015.10.08               8                 8    8

                                putative_interneuron  dandi_id
resection_location subject_id
ATL                1801                            1         1
                   1802                            2         2
                   1803                            2         2
                   1808                            2         2
                   1809                            1         1
                   1813                            4         4
                   1815                            1         1
                   1822                            3         3
                   1902                            2         2
                   1903                            2         2
                   1906                            3         3
                   1907                            1         1
                   1908                            1         1
                   1909                            5         5
                   1911                            4         4
                   1912                            2         2
                   1913                            3         3
                   1914                            2         2
                   X2015.11.09                     6         6
                   X2016.01.28                     3         3
                   X2016.02.25                     6         6
                   X2016.02.29                     2         2
                   X2016.03.01                     2         2
                   X2016.03.03                     4         4
                   X2019.01.22                     4         4
                   X2019.01.28                     3         3
                   X2019.01.29                     9         9
                   X2019.03.20                     6         6
                   X2019.11.26                     2         2
                   X2019.11.28                     3         3
                   X2020.01.06                     6         6
                   X2020.01.27                     4         4
                   X2020.01.28                     3         3
                   X2020.03.02                     1         1
FL                 X2016.02.04                     8         8
Parietal           X2015.10.08                     8         8

[36 rows x 48 columns]